<div class="container" >
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3> Edit Post</h3>
      <hr/>
      <%= form_for :post, url: post_path(@post), method: :patch, :html => {:class => "form-horizontal"} do |f| %>
        <p>
          <%= f.label :title %><br>
          <%= f.text_field :title, class: 'form-control' %>
        </p>
        <p>
          <%= f.label :body %><br>
          <%= f.text_area :body, class: 'form-control' %>
        </p>
        <p>
          <%= f.label :author %><br>
          <%= f.text_field :author, class: 'form-control' %>
        </p>

        <p>
          <%= f.submit %>
        </p>
      <% end %>
    </div>
  </div>
</div>





