<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>All Posts</h3>
      <hr/>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <td><b>User</b></td>
            <td><b>Title</b></td>
            <td><b>Body</b></td>
            <td><b>Author</b></td>
            <td><b>Action</b></td>
          </tr>
        </thead>
        <tbody>
        <% @posts.each do |post| %></h1>
          <tr>
            <td><%= post.user.email %></td>
            <td><%= post.title %></td>
            <td><%= post.body %></td>
            <td><%= post.author %></td>
            <td><%= link_to "Go To Post", post_path(post), :class => 'btn btn-primary' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



